[Unit]
Description=Storj Exporter
Wants=docker.service
After=docker.service

[Service]
User=storj_exporter
Group=storj_exporter
Type=simple
ExecStart=/usr/bin/python3 /opt/storj_exporter/
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
